.Header {
    padding-bottom: 10px;
}

.HeaderButtons {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
}

.HeaderOption {
    background: #ffffff;
    font-size: 20px;
    padding: 1px 7px;
    color: #939193;
    margin-right: 10px;
}

.LinkAwesomeIcon {
    transform: rotate(135deg);
}

.NameHeader {
    font-size: 28px;
    margin-top: 10px;
    width: 50%;
    display: inline-block;
}

.SettingsMenu {
    padding: 0;
    top: 95%;
    right: 15px;
    left: inherit;
    border-radius: 0;
    box-shadow: 0 0 5px 1px #888888;
}

.SettingsMenu:empty {
    box-shadow: none;
    border: none;
}

.SettingsMenu > li > a {
    padding: 10px 30px;
    color: #000 !important;
}

.SettingsMenu > li:hover > a {
    background-color: #eee !important;
    background-image: none !important;
}