.Wrapper {
    display: flex;
    flex-flow: row;
}

.Wrapper > div:first-child {
    flex: 1 0 25px;
    background-color: #F0F0F0;
}

.WrapperScroll {
    overflow: auto;
}

.Timeline {
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.Timeline > thead {
    background-color: #F6F6F6;
}

.Timeline > thead > tr:first-child > td{
    text-align: center;
}

.Timeline > thead > tr > td{
    border: 1px solid #ccc;
    padding: 0 8px;
}

.Timeline > tbody > tr > td:first-child {
    border-top: none !important;
    border-left: 1px solid #ccc;
    background-color: #F3F3F3;
}

.Content {
    border-top: 1px solid transparent !important;
}

.Saturday {
    border-right: 1px solid #dfdfdf !important;
}

.Sunday {
    border-left: 1px solid #dfdfdf !important;
}

.Saturday, .Sunday {
    background-color: #F3F3F3;
}

.Today {
    border-left: 1px solid #f00 !important;
}

.Fat:not(.Label) {
    background-color: #A9BDDF;
    border-top: 1px solid #7C97CA !important;
    border-bottom: 1px solid #7C97CA !important;
}

.FatStart {
    border-left: 1px solid #7C97CA !important;
}

.FatEnd {
    border-right: 1px solid #7C97CA !important;
}

.Relative {
    position: relative;
}

.Label {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}

.Label.Fat {
    color: #7C97CA;
}

.Thin:not(.Label) {
    border-bottom: 3px solid #43A047;
    height: 25px;
}

.ThinStart {
    position: absolute;
    top: 0;
    left: 0;
    border: 8px solid #43A047;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-width: 0;
    border-left-width: 0;
}

.ThinEnd {
    position: absolute;
    top: 0;
    right: 0;
    border: 8px solid #43A047;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-width: 0;
    border-right-width: 0;
}

.Timeline > tbody > tr > td:first-child, .Timeline > thead > tr > td:first-child {
    padding: 0 4px !important;
}