.Main {
    height: 100%;
    padding: 15px 20px;
}

.Header {
    font-size: 18px;
}

.Options {
    padding: 15px 0;
}

.Option {
    display: inline-block;
    cursor: pointer;
    border-bottom: 4px solid #ffffff;
    margin-right: 5%;
    font-weight: bold;
    font-size: 12px;
}

.Option.Selected {
    border-color: #5284B8;
}

.Results {
    margin-top: 10px;
}

.Results > div {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.DateResult {
    width: auto;
}

.ResultInput {
    font-weight: bold;
    font-size: 14px;
    height: 25px;
    border-radius: 2px !important;
}

.DaysWrapper {
    padding-top: 2px;
}

.Days, .Days + span {
    border: none;
    height: 23px;
}

.Days {
    padding-right: 0;
}

.Days + span {
    padding: 0 10px 0 0;
}

.DaysFocus {
    border: 1px solid #3c8dbc;
    border-radius: 2px;
    width: 80px;
}

.DaysBlur {
    border: 1px solid #d2d6de;
    border-radius: 2px;
    width: 80px;
}

.ResultHeader {
    font-size: 18px;
    margin-bottom: 15px;
}

.DateInputWrapper {
    width: 100px
}

.BetweenDates {
    font-weight: bold;
    font-size: 18px;
}

.Calendar {
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
}

.CalendarHeader {
    border-bottom: 1px solid #d2d6de;
}

.CalendarHeaderText {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 10px;
}

.Navigation:hover {
    color: #000000;
}

.Navigation, .Navigation:active {
    width: 5%;
    color: #A4A2A4;
    cursor: pointer;
    padding: 10px;
}

.Navigation.Left {
    float: left;
}

.Navigation.Right {
    float: right;
}

.Navigation.Left > i {
    transform: scale(-0.6, 1);
    font-size: 18px;
}

.Navigation.Right > i {
    transform: scale(0.6, 1);
    font-size: 18px;
}

.MonthCalendarWrapper {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.MonthCalendarWrapper.Left {
    padding-right: 5px;
}

.MonthCalendarWrapper.Right {
    padding-left: 5px;
}

.MonthCalendar {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    margin-bottom: 5px;
}

.MonthCalendar > tbody, .MonthCalendar > tbody > tr {
    width: 100%;
}

.MonthCalendar > thead > tr > th {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d2d6de;
    color: #aaaaaa;
    font-weight: normal;
    text-align: center;
}

.MonthCalendar > tbody > tr > td {
    width: 35px;
    height: 35px;
    text-align: center;
    border: none;
    vertical-align: middle;
    padding: 4.1% 0;
    color: #fff;
}

.MonthCalendar > tbody > tr > td:not(.Empty) {
    color: #000;
    border: 1px dotted #d2d6de;
}

.MonthCalendar > tbody > tr > td:not(.Empty):hover {
    background-color: #DDDDDD;
    cursor: pointer;
}

.MonthCalendar > tbody > tr > td.Empty:hover {
    cursor: default;
}

.MonthCalendar > tbody > tr:last-child > td:last-child {
    border-bottom: 1px solid #ffffff;
}

.Weekend {
    background-color: #F0EEF0;
}

.Saturday {
    border-right: none !important;
}

.Sunday {
    border-left: none !important;
}

.Footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 0 20px 15px 20px;
}

.Ok {
    background-image: none;
    background-color: #507CAB;
    font-size: 12px;
    width: 75px;
    height: 25px;
    padding: 0;
    margin-right: 10px;
}

.Cancel {
    background-image: none;
    background-color: #ffffff;
    font-size: 12px;
    width: 75px;
    height: 25px;
    padding: 0;
}

.WorkWeekend {
    float: right;
}

.Before {
    color: #aaaaaa !important;
    padding: 5px 0 0 0;
}

.CurrentDay {
    font-weight: bold;
    padding: 6px 0 0 0;
}

.Between {
    background-color: #b3ffb3;
}

.SelectedDay {
    position: absolute;
    background-color: #5385B9;
    top: 0;
    bottom: 0;
    left: -25%;
    right: -25%;
    color: #fff;
    padding: 0;
    cursor: auto;
}

.SelectedDay > div {
    display: inline-block;
    padding: 19% 0;
}

.SelectedCell {
    position: relative;
}

.SelectedDay > .Nav {
    width: 25%;
    height: 100%;
}

.SelectedDay > .Nav.Left {
    float: left;
    padding-left: 5px;
}

.SelectedDay > .Nav.Left > i {
    transform: scale(-0.5, 1);
}

.SelectedDay > .Nav.Right {
    float: right;
    padding-right: 5px;
}

.SelectedDay > .Nav.Right > i {
    transform: scale(0.5, 1);
}

.SelectedDay > .Content {
    width: 50%;
}

.SelectedDay > .Nav:hover {
    color: #ddd;
    cursor: pointer;
}

.Dropdown > ul {
    min-width: 600px;
    padding: 10px 0 40px 0;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 5px 1px #888888;
    cursor: auto;
}