.LoginBackground {
    background: #F3F3F5;
    height: 100%;
    width: 100%;
}

.LoginForm {
    background: #FFFFFF;
}

.EmptyLoginBlock {
    height: 7%;
}

.LoginButton {
    background-image: none;
    background-color: #507CAB;
    height: 40px;
}

.LoginButton:hover, .LoginButton:active, .LoginButton:active {
    background-color: #507CAB;
}

.LoginInput {
    height: 40px;
    color: #000000;
    font-size: 16px;
}

.LoginInput::-webkit-input-placeholder {
    color:#888888;
}

.LoginBoxBody {
    border:1px solid #DDDDDD;
    padding: 30px;
}

.LoginBox {
    width: 400px;
}

.InputLight {
    height: 40px;
    width: 10px;
    background-color: #DFFFBF;
    position: absolute;
    right: 5px;
}

.InputLightWrapper {
    position: absolute;
}

.Note {
    background-color: #DFFFBF;
    text-align: center;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    color: #888888;
}

input.Backlight {
    background-color: #FAFFBD;
}