.Menu {
    width: 100%;
}

.Menu > * {
    display: inline-block;
}

.Option {
    border-bottom: 3px solid transparent;
    margin-right: 40px;
    padding: 10px 0;
    cursor: pointer;
}

.Option.Selected {
    border-color: #4D7CAF;
}