.Main {
    height: 100%;
    padding: 15px 20px;
}

.Header {
    font-size: 24px;
}

.Options {
    padding: 15px 0;
}

.Option {
    display: inline-block;
    cursor: pointer;
    border-bottom: 4px solid #ffffff;
    margin-right: 30px;
    font-weight: bold;
}

.Option.Selected {
    border-color: #5284B8;
}

.Results {
    margin-top: 10px;
}

.Results > div {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.DateResult {
    padding-right: 45px;
    width: auto;
}

.Days, .Days + span {
    border: none;
}

.Days {
    padding-right: 0;
}

.Days + span {
    padding-left: 0;
}

.DaysFocus {
    border: 1px solid #3c8dbc;
    width: 80px;
}

.DaysBlur {
    border: 1px solid #d2d6de;
    width: 80px;
}

.ResultHeader {
    font-size: 24px;
    margin-bottom: 15px;
}

.ResultInput {
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}

.DateInputWrapper {
    width: 125px;
}

.BetweenDates {
    font-weight: bold;
    font-size: 18px;
}

.Calendar {
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
}

.CalendarHeaderText {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 10px;
}

.Navigation:hover {
    color: #000000;
}

.Navigation, .Navigation:active {
    width: 5%;
    color: #A4A2A4;
    cursor: pointer;
    padding: 10px;
}

.Navigation.Left {
    float: left;
}

.Navigation.Right {
    float: right;
}

.Navigation.Left > i{
    transform: scale(-0.6, 1);
    font-size: 18px;
}

.Navigation.Right > i{
    transform: scale(0.6, 1);
    font-size: 18px;
}

.MonthCalendar {
    width: 50%;
    display: inline-block;
    border-collapse: collapse;
}

.MonthCalendar > tbody, .MonthCalendar > tbody > tr  {
    width: 100%;
}

.MonthCalendar > tbody > tr > td {
    border: 1px dotted #d2d6de;
    width: 40px;
    height: 40px;
}