.Main {
    height: 100%;
    padding: 15px 20px;
}

.Header {
    font-size: 18px;
}

.Options {
    padding: 15px 0;
}

.Option {
    display: inline-block;
    cursor: pointer;
    border-bottom: 4px solid #ffffff;
    margin-right: 5%;
    font-weight: bold;
    font-size: 12px;
}

.Option.Selected {
    border-color: #5284B8;
}

.Results {
    margin-top: 10px;
}

.Results > div {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.DateResult {
    width: auto;
}

.ResultInput {
    font-weight: bold;
    font-size: 14px;
    height: 25px;
}

.Days, .Days + span {
    border: none;
    height: 23px;
}

.Days {
    padding-right: 0;
}

.Days + span {
    padding-left: 0;
}

.DaysFocus {
    border: 1px solid #3c8dbc;
    width: 80px;
}

.DaysBlur {
    border: 1px solid #d2d6de;
    width: 80px;
}

.ResultHeader {
    font-size: 18px;
    margin-bottom: 15px;
}

.DateInputWrapper {
    width: 100px
}

.BetweenDates {
    font-weight: bold;
    font-size: 18px;
}

.Calendar {
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
}

.CalendarHeader {
    border-bottom: 1px solid #d2d6de;
}

.CalendarHeaderText {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 10px;
}

.Navigation:hover {
    color: #000000;
}

.Navigation, .Navigation:active {
    width: 5%;
    color: #A4A2A4;
    cursor: pointer;
    padding: 10px;
}

.Navigation.Left {
    float: left;
}

.Navigation.Right {
    float: right;
}

.Navigation.Left > i {
    transform: scale(-0.6, 1);
    font-size: 18px;
}

.Navigation.Right > i {
    transform: scale(0.6, 1);
    font-size: 18px;
}

.MonthCalendarWrapper {
    width: 50%;
    display: inline-block;
}

.MonthCalendarWrapper.Left {
    padding-right: 5px;
}

.MonthCalendarWrapper.Right {
    padding-left: 5px;
}

.MonthCalendar {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    margin-bottom: 5px;
}

.MonthCalendar > tbody, .MonthCalendar > tbody > tr {
    width: 100%;
}

.MonthCalendar > thead > tr > th {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d2d6de;
    color: #888888;
    font-weight: normal;
}

.MonthCalendar > tbody > tr > td {
    width: 35px;
    height: 35px;
    text-align: center;
    border: none;
}

.MonthCalendar > tbody > tr > td:not(.Empty) {
    border: 1px dotted #d2d6de;
}

.MonthCalendar > tbody > tr > td:not(.Empty):hover {
    background-color: #DDDDDD;
    cursor: pointer;
}

.Weekend {
    background-color: #F0EEF0;
}

.Footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 0 20px 15px 20px;
}

.Ok {
    background-image: none;
    background-color: #507CAB;
    font-size: 12px;
    width: 75px;
    height: 25px;
    padding: 0;
    margin-right: 10px;
}

.Cancel {
    background-image: none;
    background-color: #ffffff;
    font-size: 12px;
    width: 75px;
    height: 25px;
    padding: 0;
}

.WorkWeekend {
    float: right;
}