.IssueTimeHeader {
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
    padding: 9px 9px 0 15px;
    margin-bottom: 1px;
}

.IssueTimeHeaderTitle {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
}

.IssueTimeHeaderDates {
    color: #999999;
    font-size: 12px;
}

.IssueTimeHeaderCount {
    background-color: #A9AAA9;
    border-radius: 3px;
    margin-top: 2px;
    width: 17px;
    padding: 3px 0;
}

.NewTask {
    margin: 8px 10px 7px 10px;
}

.NewTaskPlus {
    margin-right: 10px;
}

.IssueAvatar {
    height: 35px;
    border-radius: 5px;
    width: 4%
}

.AddIssueInput {
    margin-left: 2%;
    width: 93% !important;
    border-radius: 3px;
    font-size: 18px;
}

.AddIssueForm {
    margin: 10px 5px 5px 20px;
}

.IssueDoneIcon {
    color: #58B55D;
    margin-right: 10px;
}

.FloatDown {
    position: absolute;
    bottom: 0;
}

.Issue {
    margin-bottom: 1px;
    padding: 10px;
}

.Issue:hover {
    background-color: #ddeaff
}

.Issue.Selected {
    background-color: #A9C6EE;
}

.IssueName {
    margin-left: 60px;
    vertical-align: top;
    font-weight: bold;
}

.IssueDates {
    float: right;
}

.IssueDoubleImage {
    position: relative;
    display: inline-block;
}

.IssueDoubleImageBottom {
    z-index: -1;
    width: 40px;
    height: 40px;
    margin-right: 25%;
    margin-bottom: 25%;
}

.IssueDoubleImageTop {
    position: absolute;
    top: 14px;
    left: 23px;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    width: 40px;
    height: 40px;
}

.AddInFolder {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.AddInFolderFont {
    color: #777777;
}

.AddInFolderFontPlus {
    color: #C1BFC3;
    font-family: "Verdana";
    font-size: 18px;
    font-weight: bold;
}

.IssueNameHeader {
    font-size: 28px;
    margin-top: 10px;
    width: 50%;
    display: inline-block;
}

.IssueDescription > div {
    margin-left: 35px;
}

.IssueHeaderButtons {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
}

.IssueHeaderOptions {
    background: #ffffff;
    font-size: 20px;
    padding: 1px 7px;
    color: #939193;
    margin-right: 10px;
}

.LinkAwesomeIcon {
    transform: rotate(135deg);
}

.IssueHeader {
    height: 9.2%;
}

.IssueSubHeader {
    margin-left: 0 !important;
    padding-left: 35px;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    height: 7%;
}

.MarkSuccessWrapper {
    vertical-align: top;
    width: 10%;
    border-right: dotted 1px #cccccc;
    display: inline-block;
    height: 100%;
}

.MarkSuccessWrapper input{
    margin: 0;
}

.IssueParticipants {
    width: 90%;
    display: inline-block;
    height: 100%;
}

.IssueAuthorWrapper {
    display: inline-block;
    height: 100%;
    float:right;
    padding-top: 2.7%;
    padding-right: 6%;
}

.IssueAuthor {
    color: #bbbbbb;
}

.IssueAuthorLink {
    color: #0d6aad;
}

.IssueAuthorLink:hover {
    cursor: pointer;
}

.IssueAssigners {
    display: inline-block;
    height: 100%;
    width: 50%;
    padding-top: 15px;
    padding-left: 10px;
    color: #555555;
}

.IssueAssignedAvatar {
    height: 35px;
    margin-right: 8px;
}

.AddAssignedIcon:hover {
    color: #000000;
}

.AddAssignedIcon, .AddAssignedIcon:active {
    font-family: verdana;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #cccccc;
}

.IssueStatus {
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid #80A5CB;
    display: inline-block;
    z-index: 2;
    background-color: #ffffff;
}

#issue-status-dropdown, #issue-status-dropdown:active{
    text-decoration: none;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 100%;
    padding-top: 10%;
    padding-left: 0;
}

#issue-status-dropdown .caret {
    color: #000000;
    margin-bottom: 35%;
    margin-left: 10%;
}

.SelectedIssueStatus, .SelectedIssueStatus:hover {
    background-color: #5385B9;
}

.SelectedIssueStatus > a:hover {
    background-color: inherit !important;
    background-image: inherit !important;;
}

.SelectedIssueStatus>a>.IssueStatus {
    border: 1px solid #ffffff;
}

.SelectedIssueStatus>a>.IssueStatusName {
    color: #ffffff;
}

a>.IssueStatus {
    margin-top: 5px;
}

.IssueStatus.active {
    background-color: #2296F4;
    border: none;
}

.IssueStatus.ended {
    background-color: #8CC34C;
    border: none;
}

.IssueStatus.postponed {
    background-color: #683AB8;
    border: none;
}

.IssueStatus.canceled {
    background-color: #9F9D9F;
    border: none;
}

.MarkSuccessWrapper>.dropdown-menu {
    top: 90%;
    left: -35px;
    border-radius: 0;
    padding: 10px 0;
    border: none;
    box-shadow: 0 0 5px 1px #888888;
}

.IssueStatusName {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 10px;
    color: #000000;
}

.IssuesStatusTooltip {
    position: absolute;
    z-index: 1;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    height: 30px;
    top: 14px;
    left: -5px;
    padding: 7px 10px 0 30px;
    border-radius: 3px;
    font-size: 12px;
}

.IssueSettingTabs {
    height: 5.5%;
    margin-left: 0 !important;
    border-bottom: solid 1px #cccccc;
}

.IssueSettingTabs > div {
    vertical-align: top;
}

.IssueDescriptionField {
    margin-left: 0 !important;
    padding-left: 35px;
    height: 15%;
    border-bottom: solid 1px #cccccc;
}

.IssueSettingTab:hover {
    background-color: #eeeeee;
}

.IssueSettingTab.date {
    border-right: 1px solid #ffffff;
    padding-left: 35px;
}

.IssueSettingTab.subtask {
    border-left: 1px solid #ffffff;
}

.IssueSettingTab {
    display: inline-block;
    height: 100%;
    padding: 2% 25px;
    cursor: pointer;
}

.AddDescriptionLinkBtn, .AddDescriptionLinkBtn:hover, .AddDescriptionLinkBtn:active, .AddDescriptionLinkBtn:focus {
    color: #aaaaaa;
    font-size: 16px;
    margin-top: 25px;
    padding-left: 0;
}

.glyphicon.blue {
    color: #497AA1;
}