.IssueTimeHeader {
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
    padding: 9px 9px 0 15px;
    margin-bottom: 1px;
}

.IssueTimeHeaderTitle {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
}

.IssueTimeHeaderDates {
    color: #999999;
    font-size: 12px;
}

.IssueTimeHeaderCount {
    background-color: #A9AAA9;
    border-radius: 3px;
    margin-top: 2px;
    width: 17px;
    padding: 3px 0;
}

.IssueDoneIcon {
    color: #58B55D;
    margin-right: 10px;
}

.FloatDown {
    position: absolute;
    bottom: 0;
}

.AddInFolder {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.AddInFolderFont {
    color: #777777;
}

.AddInFolderFontPlus {
    color: #C1BFC3;
    font-family: "Verdana";
    font-size: 18px;
    font-weight: bold;
}

:global #add-issue-in-folder + .dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 5px 1px #888888;
    top: -95%;
    left: -30px;
    height: 385%;
    width: 400px;
    padding: 15px;
    margin: 0;
}

.FoldersForView {
    margin-top: 20px;
    font-size: 13px;
}

.IssueDescription > div {
    margin-left: 35px;
}

.IssueSubHeader {
    margin-left: 0 !important;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    height: 65px;
}

.MarkSuccessWrapper {
    vertical-align: top;
    width: 80px;
    border-right: dotted 1px #cccccc;
    display: inline-block;
    height: 100%;
}

.MarkSuccessWrapper > button {
    height: 100%;
    padding-top: 10px;
    padding-left: 35px;
    width: 100%;
}

.MarkSuccessWrapper > button > div {
    display: inline-block;
}

.MarkSuccessWrapper > button > span {
    color: #000000;
    margin-bottom: 35%;
    margin-left: 5px !important;
}

.IssueAuthorWrapper {
    display: inline-block;
    height: 100%;
    float: right;
    padding-top: 20px;
    padding-right: 6%;
}

.IssueAuthor {
    color: #bbbbbb;
}

.IssueAuthorLink {
    color: #0d6aad;
}

.IssueAuthorLink:hover {
    cursor: pointer;
}

.IssueAssigners {
    display: inline-block;
    height: 100%;
    width: 50%;
    padding-top: 15px;
    padding-left: 10px;
    color: #555555;
}

.IssueAssignedAvatar {
    height: 35px;
    margin-right: 8px;
}

.AddAssignedIcon:hover {
    color: #000000;
}

.AddAssignedIcon, .AddAssignedIcon:active {
    font-family: verdana;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #cccccc;
}

.IssueStatus {
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid #80A5CB;
    z-index: 2;
    background-color: #ffffff;
}

.NotDisplayed {
    display: none;
}

.IssuesStatusTooltip {
    position: absolute;
    z-index: 1;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    height: 30px;
    top: 15px;
    left: 30px;
    padding: 7px 10px 0 30px;
    border-radius: 3px;
    font-size: 12px;
}

.IssueSettingTabs {
    height: 65px;
    margin-left: 0 !important;
    border-bottom: solid 1px #cccccc;
    position: relative;
}

.IssueSettingTabs > div {
    vertical-align: top;
    display: inline-block;
    height: 100%;
    cursor: pointer;
}

.IssueSettingTabs > div:hover {
    background-color: #eeeeee;
}

.IssueDescriptionField {
    margin-left: 0 !important;
    padding-left: 35px;
    height: 15%;
    border-bottom: solid 1px #cccccc;
}

.IssueSettingTab.SubtaskTab {
    bottom: -1px;
    position: absolute;
    top: 0;
    height: inherit;
    border-bottom: inherit;
    border-left: 1px solid transparent;
    padding: 20px 35px;
}

.IssueSettingTab.SubtaskTab.Selected {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.AddDescriptionLinkBtn, .AddDescriptionLinkBtn:hover, .AddDescriptionLinkBtn:active, .AddDescriptionLinkBtn:focus {
    color: #aaaaaa;
    font-size: 16px;
    margin-top: 25px;
    padding-left: 0;
}

:global .glyphicon.blue {
    color: #497AA1;
}

:global #update-issue-date {
    padding: 2% 35px;
    width: 100%;
    height: 100%;
}

:global #update-issue-date + .dropdown-menu {
    top: -100px;
    left: -30px;
    border-radius: 0;
    padding: 10px 0 40px 0;
    border: none;
    box-shadow: 0 0 5px 1px #888888;
    width: 41vw;
    cursor: auto;
}

.Subtasks {
    background-color: #f8f8f8;
    width: 100%;
    margin-left: 0 !important;
    border-bottom: 1px solid #cccccc;
}

.Subtask {
    height: 40px;
    padding-left: 35px;
    border-bottom: 1px solid #e8e8e8;
}

.Subtask > * {
    display: inline-block;
    vertical-align: top;
}

.Subtask img[role="avatar"] {
    height: 30px;
    margin: 5px 0;
}

.Subtask img[role="avatar"]:hover {
    cursor: pointer;
}

:global #select-subtask-user {
    padding: 0;
    border: 0;
}

:global #select-subtask-user + .dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 5px 1px #888888;
    padding: 0;
    margin: 0;
}

.Subtask > div[role="name"] {
    margin-left: 5px;
    padding: 10px 0;
    font-weight: bold;
}

.SubtaskCheckbox {
    display: inline-block;
    margin-top: 3px;
}

.SubtaskCheckbox > div {
    width: 18px;
    height: 18px;
}

.SubtaskCheckbox > div > span {
    font-size: 16px;
    left: 0;
    top: 0;
}

.SubtaskInput {
    height: 25px;
    float: right;
    margin-top: 7px;
    width: 92% !important;
    margin-right: 2%;
    border-radius: 3px;
}

.AddSubtaskBtn {
    padding-left: 0;
}

.SelectSubtaskUser {
    width: 300px;
}

.SelectSubtaskUser > div.Header {
    height: 25px;
    color: #999;
    padding: 3px 10px;
    border-bottom: 1px solid #cccccc;
    font-size: 12px;
}

.SelectSubtaskUser > div.UserItem:hover {
    background-color: #eee;
    cursor: pointer;
}

.SelectSubtaskUser > div.UserItem > div {
    display: inline-block;
    vertical-align: top;
}

.SelectSubtaskUser > div.UserItem > div > img {
    height: 35px;
    margin: 5px 10px 5px 5px;
}

.SelectSubtaskUser > div.UserItem > div > div.Email {
    color: #aaaaaa;
}