.IssueTimeHeader {
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
    padding: 9px 9px 0 15px;
    margin-bottom: 1px;
}

.IssueTimeHeaderTitle {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
}

.IssueTimeHeaderDates {
    color: #999999;
    font-size: 12px;
}

.IssueTimeHeaderCount {
    background-color: #A9AAA9;
    border-radius: 3px;
    margin-top: 2px;
    width: 17px;
    padding: 3px 0;
}

.NewTask {
    margin: 10px 10px 10px 10px;
}

.NewTaskPlus {
    margin-right: 10px;
}

.IssueAvatar {
    height: 35px;
    border-radius: 5px;
    width: 4%
}

.AddIssueInput {
    margin-left: 2%;
    width: 93% !important;
    border-radius: 3px;
    font-size: 18px;
}

.AddIssueForm {
    margin: 10px 5px 5px 20px;
}

.IssueDoneIcon {
    color: #58B55D;
    margin-right: 10px;
}

.FloatDown {
    position: absolute;
    bottom: 0;
}

.Issue {
    margin-bottom: 1px;
    padding: 10px;
}

.Issue:hover {
    background-color: #ddeaff
}

.Issue.Selected {
    background-color: #A9C6EE;
}

.IssueName {
    margin-left: 10%;
    vertical-align: top;
    font-weight: bold;
}

.IssueDates {
    float: right;
}

.IssueDoubleImage {
    position: relative;
    display: inline-block;
}

.IssueDoubleImageBottom {
    z-index: -1;
    width: 40px;
    height: 40px;
    margin-right: 25%;
    margin-bottom: 25%;
}

.IssueDoubleImageTop {
    position: absolute;
    top: 14px;
    left: 23px;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    width: 40px;
    height: 40px;
}