html {
    background: #434B56;
}

.Background {
    background: #434B56;
    height: 100%;
    width: 100%;
}

.container {
    margin: 0 0 0 0;
    padding: 0 15px 0 15px;
    width: 100%;
}

.navbar-collapse.collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-form.navbar-left {
    padding-left: 0;
    padding-right: 0;
}

.navbar-right {
    padding-right: 5px;
}

.navbar-inverse {
    background-color: inherit;
    background-image: none;
    border: none;
}

.AppNavbar {
    margin-bottom: 0;
    height: 5.5%
}

.NavbarSearchWrapper {
    width: 19%;
}

.NavbarSearchFormGroup {
    width: 100%;
}

.NavbarSearch, .NavbarSearch:focus {
    width: 100% !important;
    color: #FFFFFF;
    background-color: #434B56;
    border-color: #AAAAAA;
    border-radius: 4px;
}

.NavbarSearch::-webkit-input-placeholder {
    color: #cccccc;
    font-size: 12px;
}

.NavbarSearchIcon {
    color: #FFFFFF;
}

.LogoutDropdownAvatar {
    height: 35px;
    margin-right: 8px;
}

.LogoutMenuAvatarWrapper {
    padding-left: 10px;
}

.LogoutMenuAvatar {
    height: 50px;
    width: 50px;
    margin-right: 8px;
}

.LogoutDropdown {
    color: #ffffff !important;
}

.LogoutMenu {
    border-radius: 0;
    top: 80%;
    width: 250px;
}

.LogoutDivider {
    margin: 10px 0 0 0 !important;
    height: 5px !important;;
}

.LogoutButton {
    font-size: 12px;
    padding-top: 3px;
}

.Main {
    height: 94.5%;
    padding-left: 28px;
    padding-right: 5px;
}

.FullHeight {
    height: 100%;
}

.Menu {
    background-color: #4B5966;
    width: 19%;
    margin-right: 0.7%;
    padding: 0;
    color: #ffffff;
}

.Content {
    background-color: #FFFFFF;
    margin-right: 0.7%;
    padding: 0;
}

.FullContent {
    width: 78.7%;
}

.HalfContent {
    width: 39%;
}

.ThirdContent {
    width: 26%;
}

.DoubleThirdContent {
    width: 52%;
}

.MenuButton {
    color: #DDDDDD;
    margin: 0;
    text-align: left;
    border-radius: 0;
    height: 40px;
    background-color: #52606D;
    padding: 10px 10px 10px 20px;
}

.MenuButton.Selected {
    background-color: #5590CC;
}

.ProjectPlus:hover {
color: #ffffff;
}

.ProjectPlus, .ProjectPlus:active  {
    float: right;
    font-family: verdana;
    font-size: 18px;
    color: #93A3B4;
}
