.GeneralView > div {
    padding-left: 30px;
}

.GeneralHeader {
    font-size: 24px;
    padding: 10px 0;
}

.FilterHeader {
    background-color: #F5F8FD;
    border-bottom: 1px solid #d0d0d0;
    padding-left: 15px !important;
}

.FilterDropdown {
    vertical-align: top;
}

.FilterDropdown > ul[role="menu"] {
    top: 40px
}

.FilterDropdown > button {
    border: 0;
    padding: 0;
}

.FilterDropdown > button > :global.caret {
    display: none;
}

.FilterText {
    display: inline-block;
    color: #6C9BCE;
    margin: 10px 15px 10px 0;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #DCE6F0;
    border-radius: 20px;
}

.ActiveAddIssue {
    height: 50px;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 10px;
}

.InactiveAddIssue {
    height: 50px;
    margin: 0;
    padding-left: 0;
}

.Wrappers {
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    padding-left: 0 !important;
}