.GeneralView > div {
    padding-left: 30px;
}

.GeneralHeader {
    font-size: 24px;
    padding: 10px 0;
    display: inline-block;
}

.FilterHeader {
    background-color: #F5F8FD;
    border-bottom: 1px solid #d0d0d0;
    padding-left: 15px !important;
}

.FilterDropdown {
    vertical-align: top;
}

.FilterDropdown > ul[role="menu"] {
    top: 40px
}

.FilterDropdown > button {
    border: 0;
    padding: 0;
}

.FilterDropdown > button > :global.caret {
    display: none;
}

.FilterText {
    display: inline-block;
    color: #6C9BCE;
    margin: 10px 15px 10px 0;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    user-select: none;
}

.FilterText:hover {
    background-color: #ececff;
}

.FilterDropdown > button[aria-expanded="true"] > .FilterText, .FilterText:active {
    background-color: #DCE6F0;
}

:global #user-filter + ul {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 5px 1px #888888;
}

.ActiveAddIssue {
    height: 50px;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 10px;
}

.InactiveAddIssue {
    height: 50px;
    margin: 0;
    padding-left: 0;
}

.Wrappers {
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    padding-left: 0 !important;
}

.ProjectDescription > div {
    padding-left: 35px;
}

.ProjectDescriptionHeader {
    padding-bottom: 30px;
    border-top: 10px solid transparent;
}

.FieldList {
    background-color: #FAFAFA;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.FieldList, .FieldList > div {
    width: 100%;
}

.FieldList > div {
    margin: 15px 0;
}

.FieldList > div > * {
    display: inline-block;
    vertical-align: middle;
}

.FieldList > div > div:first-child {
    font-weight: bold;
    padding-right: 15px;
}

.ParticipantsWrapper {
    position: relative;
}

.Participants {
    position: absolute;
    top: -10px;
    padding: 10px 0 0 0;

}

.ParticipantsNotEmpty {
    top: -5px;
    padding: 0;
}

.ParticipantsNotEmpty > div {
    padding-right: 0;
    margin-right: 10px;
}

.ParticipantsNotEmpty > div > img {
    margin-right: 0;
}

.Participants > div > button {
    padding: 0;
}

.Separator {
    vertical-align: top !important;
    padding-right: 15px;
    color: #ccc;
}

.Glyphicon {
    margin-left: 20px;
    color: #ccc;
}

.Glyphicon:hover, .DataRangePickerDropdown > button:hover > .Glyphicon {
    color: #888;
    cursor: pointer;
}

.Glyphicon:active, .DataRangePickerDropdown > button:active > .Glyphicon {
    color: #000;
}

.FieldList > div > div > :global.glyphicon.glyphicon-plus {
    font-family: verdana;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}

.DescriptionWrapper {
    padding-left: 0 !important;
}

.DataRangePickerDropdown > button {
    padding: 0;
    border: 0;
}

.ProjectStatusDropdown[aria-expanded="false"], .ProjectStatusDropdown[aria-expanded="false"]:active {
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none !important;
}

.ProjectStatusDropdown[aria-expanded="false"] > :global.caret {
    display: none;
}

.ProjectStatusDropdown[aria-expanded="true"] {
    position: absolute;
    top: -13px;
    left: -19px;
    background-color: #fff !important;
    box-shadow: none !important;
    padding: 2px 10px 2px 18px;
    border-color: #0d85d7 !important;
}

.ProjectStatusDropdown[aria-expanded="true"] > :global.caret {
    margin-left: 5px !important;
}

.ProjectStatusDropdown[aria-expanded="true"] + ul {
    top: 11px;
    left: -19px;
    padding: 0;
    box-shadow: 0 2px 4px 0.5px #aaa;
    border-radius: 0;
}

.ProjectStatusItem > a {
    color: #000 !important;
}

.ProjectStatusItem:hover > a {
    background-color: #eee !important;
    background-image: none !important;
}

.HeaderWithYellowStatus {
    border-color: #F9A825;
}

.HeaderWithGreenStatus {
    border-color: #2bb417;
}

.HeaderWithRedStatus {
    border-color: #bd0e07;
}

.HeaderWithDoneStatus {
    border-color: #586ce1;
}

.HeaderWithSuspendedStatus {
    border-color: #bd0182;
}

.HeaderWithCanceledStatus {
    border-color: #000000;
}

.FloatRightMenu {
    float: right;
    display: inline-block;
    width: auto !important;
}

.TableView, .TimelineView {
    padding-top: 20px;
}

.TableView > div > .FloatRightMenu > a > div, .TimelineView > div > .FloatRightMenu > a > div {
    padding-bottom: 20px;
}

.TableView > div:first-child, .TimelineView > div:first-child {
    padding-left: 30px;
}

.FilterShowLabel {
    display: inline-block;
    padding-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    color: #aaa;
}

.IssueTable {
    table-layout: fixed;
}

.IssueTable > thead > tr > th, .IssueTable > tbody > tr > td {
    border: 1px solid #cccccc;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 8px;
}

.IssueTable > thead > tr > th {
    border-top: none;
    font-weight: 100 !important;
    color: #888;
}

.IssueTable > thead {
    background-color: #E6E7E9;
}

.IssueTable > tbody > .ProjectRow, .IssueTable > tbody > tr > td:first-child {
    background-color: #F3F3F3;
    color: #888;
    text-align: right;
}

.IssueTable > thead > tr > th > :global.caret {
    margin-left: 10px;
    vertical-align: middle;
}

.ProjectRow > td {
    font-weight: bold;
}

.IssueTable > thead > tr > th.Number, .IssueTable > thead > tr > th.Duration {
    width: 4%;
}

.IssueTable > thead > tr > th.Heading {
    width: 50%;
    padding-left: 30px;
}

.IssueTable > thead > tr > th.StartDate, .IssueTable > thead > tr > th.EndDate, .IssueTable > thead > tr > th.Executors {
    width: 10%;
}

.IssueTable > thead > tr > th.Status {
    width: 6%;
}

.IssueRow > .IssueName {
    position: relative;
}

.IssueRow > .IssueName > span:first-child {
    position: absolute;
    top: -10px;
    font-size: 30px;
}

.IssueRow > .IssueName > .Text {
    margin-left: 20px;
}

.SabtaskRow > .Name {
    margin-left: 40px;
}

.TimelineView {
    display: flex;
    flex-flow: column;
}

.TimelineProjectLabel {
    font-weight: bold;
}

.TimelineProjectIcon {
    margin-right: 5px;
}